---
const { person } = Astro.props
---

<div class="w-full sm:w-6/12 p-4">
    <div class="flex flex-col">
      <img
        class="object-cover h-72 w-full rounded"
        src=`/assets/${person.img}`
        alt=`Picture of ${person.name}`
      />
      <h5 class="my-2 text-xl font-medium text-gray-900 dark:text-white">{person.name}</h5>
      <span class="text-sm text-gray-900 dark:text-white">{person.title}</span>
      <a class="mb-6 text-sm text-gray-900 dark:text-white" href={person.affil.url}>{person.affil.title}</a>
      <span class="text-sm mb-6 text-gray-900 dark:text-white">{person.bio}</span>
      <a href=`mailto:${person.email}` class="text-sm font-medium">{person.email}</a>
    </div>
</div>